.btn {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: pointer;
}

.btn-active {
  color: #008DDA;
  border-color: #008DDA;
}